@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir.ttc");
    font-weight: bold;
}
@font-face {
    font-family: "Paperland";
    src: url("/fonts/Paperland.ttf");
    font-weight: normal;
}

body{
    margin: 0px;
}

.clumsyscale {
    position: absolute;
    width: 30%;
    top: 60%;
    right: 8%;
    z-index: 9;
}

.starburst {
    position: absolute;
    bottom: -30%;
    right: 60%;
    z-index: 9;
    width: 35%;
    rotate: -5deg;
}

#steps{
    width: 110%;
    height: auto;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.egg{
    background-image: url(../img/Entry_1_Egg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ffffc4;
    background-repeat: no-repeat;
    padding: 2%;
    height: 600px;
}

.egg2{
    background-color: #ffffc4;
    width: 100%;
    height: 1000px;
    position: relative;
}

.clickanimation {
    margin-top: 5%;
    height: fit-content;
    width: fit-content;
}

button {
    border: 0px;
    width: fit-content;
    color: antiquewhite;
    font-size: 30px;
    letter-spacing: -2px;
    background-color: #db0000;
    padding-left: 5px;
    padding-right: 5px;
    font-family: "Paperland";
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%);
}

button:hover {
    scale: 140%;
    transform-origin: center;
    left: 52%;
    background-color: black;
}

#click1 {
    position: absolute;
    border: #ff5e00 4px solid;
    left: 50%;
    transform: translate(-50%);
}

#click2 {
    position: absolute;
    border: #ff5e00 4px solid;
    left: 50%;
    transform: translate(-50%);
}

.steps{
    background-color: #ffffc4;
    margin-bottom: -80px;
    padding-left: 200px;
    padding-bottom: 0px;
}

.egg3{
    background-color: #ff5e00;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7%;
    align-items: center;
}

.step1 {
    padding: 8%;
    width: 400px;
}

.step2 {
    padding: 8%;
    width: 400px;
}

.step3 {
    padding: 8%;
    width: 400px;
}

.step4 {
    padding: 8%;
    width: 400px;
}

p{
    font-family: "Avenir";
    font-size: 35px;
    font-weight: lighter;
    margin: 0%;
    line-height: 110%;
    margin-top: 2%;
    color: antiquewhite;
}

h1{
    font-family: "Paperland";
    font-size: 40vw;
    font-weight: normal;
    line-height: 10px;
    letter-spacing: -20px;
    color: #ffffc4;
    text-align: center;
    transform: skew(-15deg);
    margin-bottom: 160px;
    margin-top: -250px;
}

h2{
    font-family: "Avenir";
    font-weight: bolder;
    font-size: 5vw;
    line-height: 110%;
    letter-spacing: -1px;
    text-align: left;
    color: black;
    margin-left: 10%;
    padding-top: 5%;
}

h3{
    font-family: "Paperland";
    font-size: 4vw;
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
    text-align: center;
}

h4{
    font-family: "Paperland";
    font-size: 200px;
    color: #ff5e00;
    position: absolute;
    text-align: right;
    bottom: -350px;
    margin-left: 50%;

}

.PREV{
    float: left;
    font-family: "Paperland";
    font-size: 50px;
    color: black;
    transform: rotate(2deg);
}

.NEXT{
    float: right;
    font-family: "Paperland";
    font-size: 50px;
    color: black;
    transform: rotate(-1deg);
}

a{
    color: #db0000;
    font-size: 40px;
    background-color: antiquewhite;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

a:hover{
    color: black;
    font-size: 50px;
}

.BACKTOTOP{

    font-family: "Paperland";
    font-size: 50px;
    color: black;
    margin: 0px;
    padding: 2%;
    height: 100px;
    text-align: center;
    background-color: #ff5e00;
    
}

.footer{
    background-color: black;
    height: 30px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 45vw;
        margin-top: -350px;
        margin-bottom: 100px;
    }
    h2 {
        font-size: 6vw;
    }
    .egg2 {
        height: 750px;
    }
    h3 {
        font-size: 8vw;
    }
    h4 {
        font-size: 25vw;
        margin-left: 10%;
    }
    button {
        top: 48%;
    }
    .clumsyscale {
        width: 40%;
        top: 62%;
        right: 3%;
    }
    
    .starburst {
        bottom: -25%;
        right: 40%;
        width: 55%;
    }
    .step1 {
        padding: 10%;
        width: 400px;
    }
    
    .step2 {
        padding: 10%;
        width: 400px;
    }
    
    .step3 {
        padding: 10%;
        width: 400px;
    }
    
    .step4 {
        padding: 10%;
        width: 400px;
    }
}

@media (min-width: 900px) and (max-width:1200px) {
    h1 {
        font-size: 42vw;
        margin-top: -300px;
        margin-bottom: 120px;
    }
    button {
        top: 40%;
    }
    .starburst {
        bottom: -20%;
        right: 50%;
        width: 45%;
    }
    .step1 {
        padding-left: 25%;
        width: 400px;
    }
    
    .step2 {
        padding-left: 25%;
        width: 400px;
    }
    
    .step3 {
        padding-left: 25%;
        width: 400px;
    }
    
    .step4 {
        padding-left: 25%;
        width: 400px;
    }
    
}